/* Variable declarations go here */
/* Colors */
primary-color = #5f8ea0 //This is a mid-dark blue
secondary-color = #AEC6CF //Light blue
ternary-color = #696969 //Dark Gray
accent = #FF9F37 //Bright or pastel orange
plantation = #FFFFFE

/* Spacing */
nudge = .2rem
space-micro = .5rem
space-small = 1rem
space = 2rem
space-medium = 3rem
space-large = 4rem

/* Defaults */

body
  padding 0
  margin 0
  width 100%
  min-height 100%
  font-family verdana
  font-weight bold
  background-color plantation

h1, h2
  padding 0
  margin 0
  border-bottom 2px solid ternary-color

/* Classes */

.container
  height 100%
  min-height 100%
  position fixed

.search-container
  width space*8
  height 100%
  background-color ternary-color
  -webkit-box-shadow 4px 0 3px -2px #888
  box-shadow 4px 0 3px -2px #888
  position fixed
  z-index 3

.search-element
  width 100%
  height space-large
  border-bottom 2px solid secondary-color
  line-height space-large
  vertical-align middle
  font-size space*.6
  color plantation
  box-sizing border-box
  text-align center

.sub-search
  width 100%
  height space-medium
  background-color primary-color
  color plantation
  line-height space-medium
  vertical-align middle
  text-align center
  border-bottom 1px solid secondary-color
  cursor pointer

.sub-search:hover
  background-color secondary-color

.logo-inner
  max-height space*2
  max-width space*8
  margin-left - space

.clickable
  cursor pointer

.clickable:hover
  background-color secondary-color

.title-bar
  width calc(100% - 16rem)
  height space-medium
  background-color secondary-color
  position fixed
  margin-left space*8
  color ternary-color
  line-height space-medium
  vertical-align middle
  padding-left space
  z-index 2
  font-size space*.6

.main-content
  position fixed
  margin-left space*8
  margin-top space-large
  width calc(100% - 16rem)
  padding-left space
  padding-right space
  padding-top space-micro
  box-sizing border-box

.header
  width 100%

.upload-button
  width 200px
  height 60px
  line-height 60px
  vertical-align middle
  text-align center
  color plantation
  background-color primary-color
  border-radius 2px
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-top 20px

.upload-button:active
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;

